@function rem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@mixin font-size($size){
  font-size: #{$size}px; //Fallback in px
  font-size: rem($size);
}

@mixin sizes($min, $max:0){
  $min_str: $min/16 + rem;
  $max_str: ($max - 1)/16 + rem;

  @if $min >= 0 {
    @if $max > $min {
      @media screen and (min-width: $min_str) and (max-width: $max_str){
        @content;
      }
    }
    @else{
      @media screen and (min-width: $min_str){
        @content;
      }
    }
  }
  @else{
    @media screen and (max-width: $max_str){
      @content;
    }
  }
}

@mixin column-size($column_ct, $margin){
  box-sizing: border-box;
  $total_margin: $margin * ($column_ct - 1);
  width: calc(#{100/$column_ct}% - #{ceil($total_margin / $column_ct)}px);
  margin-right: #{$margin}px;
  // &:nth-child(#{$column_ct}n){
  //   margin-right: 0;
  // }
}

@mixin container{
  margin: 0 auto;
  width: 100%;
  max-width: #{$large}px;
  box-sizing: border-box;
}

@mixin default-padding(){
  padding-left: 20px;
  padding-right: 20px;

  @include sizes($large){
    padding-left: 40px;
    padding-right: 40px;
  }
}

@mixin focus-outline($color: $lotus){
  &:focus {
    outline: 2px solid $color !important;
  }
}

@mixin plain-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin link-hover($color: $text-color, $hover: $lotus){
  color: $color;
  transition: color 200ms ease-in-out;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    color: $hover;
  }
}

@mixin plain-button(){
  padding: 0;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  @include focus-outline;
}

@mixin button($color: $lotus, $hover: $spice){
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 28px;
  background-color: $color;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.15px;
  min-height: rem(50);
  padding: rem(10) 2.5rem;
  transition: color 300ms ease, background-color 300ms ease;
  @include font-size(16);
  // box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 1px 2px 1px rgba(0, 0, 0, 0.24);

  &:focus{
    outline: 2px solid $lotus;
  }

  &:hover {
    background-color: $hover;
  }

  &:disabled{
    background-color: #fff;
    border: 2px solid $heather;
    color: $heather;
  }
}

@mixin button-tertiary($color: $text-color){
  @include button;
  border: 2px solid $lotus;
  background-color: transparent;
  color: $color;
  transition: color 300ms ease, background-color 300ms ease, border-color 300ms ease;

  &:hover {
    // color: #fff;
    background-color: $potpourri;
    border-color: $potpourri;
  }
}

@mixin heading(){
  @include font-size(32);
  font-weight: 700;
  letter-spacing: -1px;

  @include sizes($medium){
    @include font-size(44);
  }

  @include sizes($large){
    @include font-size(56);
  }
}

@mixin section-heading(){
  @include font-size(24);
  font-weight: 700;
  letter-spacing: -0.8px;
  margin: 0 0 1rem;

  @include sizes($medium){
    @include font-size(36);
  }

  @include sizes($large){
    @include font-size(48);
  }
}

@mixin subheading(){
  @include font-size(20);
  font-weight: 400;
  margin: 0;

  @include sizes($medium){
    @include font-size(22);
  }

  @include sizes($large){
    @include font-size(24);
  }
}

@mixin pattern-dots($color){
  background-image: radial-gradient($color 1px, transparent 1px),radial-gradient($color 1px, transparent 1px);
  background-size: calc(20 * 1px) calc(20 * 1px);
  background-position: 0 0,calc(10 * 1px) calc(10 * 1px);
}
@mixin pattern-dots-md($color){
  background-image: radial-gradient($color 1px, transparent 1px);
  background-size: calc(10 * 1px) calc(10 * 1px);
}

@mixin separator($color){
  color: $color;
  @include pattern-dots($color);
  height: 1.25rem;
  margin: 1.25rem 0;
  &:before, &:after {
    margin: 1.25rem 0;
  }
}