@import '_base';

//--------- styling for rest of page -------//
main {
  margin: 0 auto;

  @include sizes($small){
    margin-top: -4.5rem;
  }

  @media screen and (min-width: $breakpoint) {
    padding-top: 6.5rem;
  }
}

.section {
  position: relative;
  padding: 4rem 0;

  @include sizes($small){
    padding: 6rem 0;
  }

  &__wrapper{
    @include default-padding;
    @include container;
  }

  &__columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 0;

    @include sizes($small){
      margin: 3rem 0 0;
      flex-direction: row;
      align-items: stretch;
    }
  }

  &__column{
    width: 100%;
    margin-bottom: 1.5rem;

    @include sizes($small){
      width: 50%;
      &:first-of-type{
        margin-right: 2rem;
      }
    }
  }

  &__heading {
    @include section-heading;
  }

  &__subheading{
    @include subheading;
  }
}

.services {
  background-color: $sand;
  .grow__card {
    background-color: $pampas;
  }
}

.grow {
  background-color: transparentize($color: $pampas, $amount: 0.5);
  position: relative;

  + .grow {
    padding-top: 0;
  }

  &__content{
    display: block;
  }

  &__cards {
    margin: 2rem 0 0;
    display: flex;
    flex-wrap: wrap;
    @include sizes($small){
      margin: 3rem 0 0;
    }
  }
}

.contact{
  background-color: $hint;

  &__link{
    @include button;
    border-radius: 60px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    width: 100%;

    &-label{
      display: block;
      margin-right: 1.5rem;
      @include font-size(20);
      color: #fff;
      transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
      text-decoration: none;
      cursor: pointer;
    }

    &-img{
      max-width: rem(32);
    }

    img{
      width: 100%;
    }
  }
}

.about{
  position: relative;
  z-index: 2;
  margin: 2rem auto -26rem;

  @include sizes($small){
    margin: 3rem auto -17rem;
    max-width: rem(900);
  }

  &__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 2rem 1.5rem;
    box-shadow: 0 10px 20px hsla(0,0%,0,.15), 0 3px 6px hsla(0,0%,0,.10);

    @include sizes($small){
      flex-direction: row;
      padding: 3rem 2.5rem;
    }

    &-img{
      margin-right: 1.5rem;
      // display: block;
      // position: relative;
      // &:after{
      //   position: absolute;
      //   left: -2.5%;
      //   top: -2.5%;
      //   content: '';
      //   width: 105%;
      //   height: 105%;
      //   display: block;
      //   background-color: $potpourri;
      //   z-index: 0;
      //   border-radius: 50%;
      // }

      img{
        position: relative;
        z-index: 2;
        border-radius: 50%;
      }

      @include sizes($small){
        margin-right: 2.5rem;
      }
    }

    &-title{
      @include subheading;
      // @include font-size(20);
      font-weight: 600;
      margin: 1.25rem 0 1.25rem;
    
      @include sizes($small){
        margin: 0 0 1.25rem;
      }
    }

    &-copy{
      @include font-size(16);
      font-weight: 400;
      margin: 0;
    
      @include sizes($medium){
        @include font-size(18);
      }
    }
  }
}

//footer
.footer{
  background-color: $oyster;
  padding: 30rem 0 1rem;

  @include sizes($small){
    padding: 20rem 0 1rem;
  }

  &__links {
    margin: 0 auto 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__link{
    text-align: center;
    margin: 0 2rem 1rem 0;
    color: $text-color;
    line-height: 1;
    border-bottom: 1px solid $text-color;
    transition: color 200ms ease-in-out, border-color 200ms ease-in-out;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    @include focus-outline;
    
    &:hover{
      color: $lotus;
      border-color: $lotus;
    }

    &:after{
      content: '|';
      position: absolute;
      right: -1rem;
      color: $napa;
      display: inline-block;
    }

    &:last-of-type{
      margin-right: 0;
      &:after{
        content: none;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 3rem;
    position: relative;
    &:before{
      content: '';
      width: 40%;
      height: 2px;
      background-color: $sand;
      display: block;
      top: -1.75rem;
      position: absolute;
    }

    &-link{
      @include button;
      @include focus-outline;
      border-radius: 50%;
      text-decoration: none;
      padding: 2rem;
      width: 3rem;
      height: 3rem;
      &:first-of-type {
        margin-right: 2rem;
      }
    }
    &-img{
      display: block;
      img {
        width: auto;
        max-width: 24px;
        max-height: 28px
      }
    }
  }
  &__copyright{
    margin: 1rem auto 2rem;
    @include font-size(14);
    color: $mine;
    text-align: center;
  }
  &__madeby {
    margin: 1rem auto 0;
    @include font-size(12);
    color: $asher;
    text-align: center 
  }
}